.OrderDetails {
    width: 80%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    text-align: center;
}

.Ing {
    color: #5C9210;
    list-style: none;
    display: flex;
}

.Details {
    margin: 10px auto;
    color: #40A4C8;
    text-align: left;
    border-spacing: 20px 2px;
}